{% load static %}

<nav class="navbar navbar-expand-lg line_bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/Logo.svg' %}" alt="Logo_competicao" class="icon_competition"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse space_menu" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link color_azul_menu" href="#">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color_azul_menu" href="#">Cadastrar evento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color_azul_menu" href="#">Validador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color_azul_menu" href="#">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle color_azul_menu" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {% if user_name %}
                        {{ user_name }}
                        {% else %}
                        Usuário não reconhecido
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item color_azul_menu" href="{% url 'logout' %}">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>