{% extends "base.html" %}
{% load static %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'styles/deteils_event.css' %}">
{% endblock %}

{% block content %}
{% block header %}
{% include 'partials/header/header.html' %}
{% endblock %}

<main class="container">
    {% if messages %}
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color_azul" id="messageModalLabel">Aviso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        {% for message in messages %}
                        <li class="{{ message.tags }} list-group-item">{{ message }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_laranja color_preto" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="d-flex mt-4 mb-3">
        <div class="image_event">
            <img src="{{ event.image_event.url }}" alt="{{ event.event_name }}" class="image">
        </div>
        <div class="info_event">
            <h1 class="h1 color_azul font_bold">{{ event.event_name }}</h1>
            <div class="d-flex mt-4 mb-4">
                <div class="bg_laranja container_inf">
                    <img src="{% static 'images/CalendarRange.svg' %}" alt="calendar">
                    <span class="color_preto font_bold">{{ event.date_event|date:"d/m/Y" }}</span>
                </div>
                <div class="bg_laranja container_inf">
                    <img src="{% static 'images/Alarm.svg' %}" alt="alarm">
                    <span class="color_preto font_bold">{{ event.hour_event|time:"H:i" }}</span>
                </div>
            </div>
            <p class="color_preto h5">{{ event.description }}</p>
            <div class="line_description mt-3 mb-3"></div>
            <div class="buttons_event">
                <a href="{% url 'deteils_event' event.id %}" class="btn btn_azul color_preto">Editar evento</a>
                <a href="{% url 'deteils_event' event.id %}" class="btn btn_verde color_preto">Voltar a tela de venda</a>
                <a href="{% url 'deteils_event' event.id %}" class="btn btn_laranja color_preto">Apagar evento</a>
                <a href="{% url 'deteils_event' event.id %}" class="btn btn_amarelo color_preto">Setores</a>
            </div>
        </div>
    </div>

    <h1 class="text-center color_azul mt-4 mb-4">Ingressos emitidos</span></h1>
    <div class="row">
        {% for ticket in tickets %}
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title color_rosa">Nome do cliente: <span class="color_preto">{{ ticket.client.name }}</span></h5>
                    <p class="card-text color_rosa">Setor comprado: <span class="color_preto">{{ ticket.sector.name }}</span></p>
                    <p class="card-text color_rosa">Data de emissão do ingresso: <span class="color_preto">{{ ticket.date_issue|date:"d/m/Y H:i" }}</span></p>
                    <p class="card-text color_rosa">Status do ingresso: <span class="color_preto">{{ ticket.status }}</span></p>
                    <p class="card-text color_rosa">Código de validação do ingresso: <span class="color_preto h6">{{ ticket.id_ticket }}</span></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url "export_ticket" ticket.id_ticket %}" class="btn btn_verde color_preto"><i class="bi bi-file-earmark-pdf"></i> Emitir PDF</a>
                        <a href="#" class="btn btn_rosa color_preto"><i class="bi bi-x-circle"></i> Cancelar ingresso</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}
{% block footer %}
{% include "partials/footer/footer.html" %}
{% endblock %}