{% extends "base.html" %}
{% load static %}

{% block content %}
{% block header %}
{% include 'partials/header/header.html' %}
{% endblock %}

<main class="container">
    {% if messages %}
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color_azul" id="messageModalLabel">Aviso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        {% for message in messages %}
                        <li class="{{ message.tags }} list-group-item">{{ message }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_laranja color_preto" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <h1 class="text-center color_azul mt-4 mb-4">Ingressos gerados</h1>
    <ul class="list-group">
        {% for ticket in tickets %}
        <li class="list-group-item d-flex justify-content-between align-items-center color_azul">
            ingresso: {{ ticket.id_ticket }} <a href="{% url "export_ticket" ticket.id_ticket %}" class="btn btn_verde color_preto"><i class="bi bi-download"></i>Baixar</a>
        </li>
        {% endfor %}
    </ul>
</main>

{% endblock %}